* {
  margin: 0;
  padding: 0; }

body {
  font: 15px/20px "Helvetica Neue", "Roboto", "Segoe UI", "Open Sans", "Ubuntu", Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
  text-rendering: optimizeLegibility; }

a {
  color: black;
  text-decoration: none;
  transition: color 0.333s; }
  a img {
    border: 0 none; }

ul {
  list-style: none; }

ol {
  list-style-position: inside; }

sup {
  line-height: 0; }

b, i, u {
  font-style: normal;
  font-weight: normal;
  text-decoration: none; }

img {
  display: block; }

h2 {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -1px;
  margin: 15px 0; }
  h2 a {
    transition: color 1s; }
    h2 a:hover {
      color: silver; }

h3 {
  font-weight: normal;
  font-size: 20px; }
  h3 sup {
    font-size: 13px;
    color: silver; }
  h3 a {
    color: black; }
    h3 a:hover {
      color: gray; }

hr {
  margin: 5px 0;
  border: 0 none;
  border-bottom: #d2d2d2 1px solid; }

.content {
  width: 576px;
  margin: 0 auto; }

.main {
  padding: 5px;
  background-color: #f0f0f0; }

.footer {
  font-size: 13px;
  background-color: white;
  padding: 13px 0;
  text-align: right;
  color: gray; }
  .footer a:hover {
    color: gray; }
  .footer hr {
    margin-left: 50%;
    margin-top: 1px;
    margin-bottom: 2px;
    border-bottom: #f0f0f0 1px solid; }

.menu {
  background-color: white;
  line-height: 40px;
  padding: 15px 0;
  overflow: hidden; }
  .menu img {
    border-radius: 3px; }
  .menu ul {
    display: block; }
    .menu ul li {
      display: block;
      float: left;
      margin-right: 15px; }
      .menu ul li:last-child {
        margin-right: 0px; }
      .menu ul li i {
        color: #30c0c0; }
      .menu ul li a {
        padding: 10px 0;
        color: black; }
        .menu ul li a:hover {
          color: gray; }
      .menu ul li.selected a {
        color: silver; }

.list {
  padding: 10px 0; }
  .list li {
    padding: 10px 0; }
  .list p a {
    color: #30c0c0; }
    .list p a:hover {
      color: #205080; }
  .list hr {
    margin-right: 50%; }
  .list .day {
    font-size: 11px;
    color: silver;
    text-transform: uppercase;
    border-bottom: #d2d2d2 1px solid;
    width: 50%;
    position: relative;
    height: 10px;
    margin-top: 3px;
    margin-bottom: 11px; }
    .list .day span {
      background-color: #f0f0f0;
      padding-right: 5px;
      position: absolute; }
  .list .grid hr {
    margin-top: 8px;
    margin-bottom: 11px; }
  .list .grid img:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .list .grid img:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .list.archive h3 {
    padding-bottom: 5px; }
  .list.archive p {
    padding-top: 5px; }
  .list.archive b, .list.archive i {
    display: block;
    float: left;
    width: 30px;
    color: gray; }
  .list.archive i {
    text-align: right;
    margin-right: 15px;
    color: silver;
    width: 25px; }
  .list.archive u {
    color: silver;
    cursor: help; }
  .list.work h3 {
    padding-bottom: 1px; }
  .list.work p {
    padding-top: 5px; }

.post {
  padding: 1px 0; }
  .post small {
    font-size: 13px;
    color: gray; }
  .post a {
    color: #30c0c0; }
    .post a:hover {
      color: #205080; }
  .post p, .post .highlight {
    margin: 20px 0; }
  .post p strong img {
    width: 100%;
    height: auto;
    border-radius: 3px; }
  .post table {
    margin-top: -5px;
    margin-bottom: 15px; }
    .post table td {
      vertical-align: top;
      padding: 5px 0;
      border-bottom: #d2d2d2 1px solid; }
      .post table td.y {
        padding-right: 15px;
        color: silver; }
        .post table td.y b {
          color: gray; }
    .post table tr:last-child td {
      border-bottom: 0 none; }
  .post hr {
    margin: 6px 0 3px 0;
    margin-right: 50%; }
  .post ul, .post ol {
    margin: 15px 0; }
  .post li {
    padding: 5px 0;
    padding-left: 55px;
    border-bottom: #d2d2d2 1px solid; }
    .post li:last-child {
      border-bottom: 0 none; }
  .post blockquote {
    margin-left: 5%;
    padding-left: 5%;
    border-left: #d2d2d2 1px solid;
    color: gray; }
  .post pre {
    white-space: pre-wrap; }
  .post code {
    font: 12px/20px "Menlo", "Consolas", "DejaVu Sans Mono", "Droid Sans Mono", "Monospace", "Lucida Console", monospace;
    color: gray; }
  .post .contact {
    margin-bottom: 24px; }
  .post .highlight {
    background-color: white;
    padding: 10px 5%;
    border-radius: 3px;
    border: #dddddd 1px solid; }

.quote {
  color: gray; }
  .quote i {
    color: silver; }

.project {
  color: gray; }
  .project sup {
    color: silver; }
  .project img {
    float: left;
    padding: 2px;
    padding-left: 0;
    padding-right: 8px; }

.grid {
  overflow: hidden; }
  .grid img {
    width: 33.333%;
    height: auto;
    float: left; }

.details {
  font-size: 13px;
  margin-bottom: 15px; }
  .details hr {
    width: 50%;
    margin-bottom: 15px; }
  .details p {
    margin: 5px 0; }
  .details b {
    width: 75px;
    float: left;
    display: block;
    color: gray; }
  .details a {
    color: #30c0c0; }
    .details a:hover {
      color: #205080; }

.meta {
  font-size: 13px;
  color: gray;
  margin-bottom: 20px; }
  .meta .topic {
    text-transform: capitalize; }
  .meta .caption {
    margin: 20px 0; }

.buttons {
  height: 32px;
  overflow: hidden; }
  .buttons li {
    display: block;
    float: left;
    margin-right: 20px; }
  .buttons a {
    background-color: white;
    display: block;
    line-height: 30px;
    float: left;
    color: gray;
    padding: 0 10px;
    border: silver 1px solid;
    text-decoration: none;
    border-radius: 4px;
    transition: border-color 0.333s, color 0.333s; }
    .buttons a:hover {
      border-color: gray;
      color: black; }
    .buttons a sup {
      font-size: 11px;
      color: silver; }

.handle:after {
  content: " at ";
  color: silver; }

.domain:after {
  content: " dot ";
  color: silver; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@media (max-width: 640px) {
  .content {
    width: 90%; } }
