.explanation {
        PADDING-RIGHT: 1ex; PADDING-LEFT: 1ex; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 1ex; PADDING-TOP: 1ex
}
BODY {
        color:black;
}
blockquote {background-color: #E6E6FA;color: green;}
h2{color:#1E90FF;}
h1{color:#1E90FF;}
